body {
  background-color: #97B1CB;
}

img {
  height:200px;
  width: 200px;
}

.col-4 {
  text-align: center;
  padding: 20px 20px 20px 20px;
}

#bottom-div {
  padding-top: 100px;
  height:200px;
  text-align: center;
}

#header {
  height:200px;
}
