<!--The content below is only a placeholder and can be replaced.-->
<html lang="en">
<head>
    <!-- require meta tags for mobile responsiveness-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div id="header" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>

<div id="item-div" class="container-fluid border-top">

  <div class="row">
    <div class="col-xs-12 col-4 border">
        <img class="border border-primary" src="src/assets/img/Wedding1.jpeg" alt="Example item">
        <div class="border border-dark">Item 1</div>
        <p class="border border-dark"> Item 1 description </p>
    </div>

    <div class="col-xs-12 col-4 border">
      <img class="border border-primary" src="src/assets/img/Wedding2.jpeg" alt="Example item">
      <div class="border border-dark">Item 2</div>
      <p class="border border-dark"> Item 2 description </p>
    </div>

    <div class="col-xs-12 col-4 border">
      <img class="border border-primary" src="src/assets/img/Wedding3.jpeg" alt="Example item">
      <div class="border border-dark">Item 3</div>
      <p class="border border-dark"> Item 3 description </p>
    </div>

  </div>

  <div class="row">
    <div class="col-4 border">
      <img class="border border-primary" src="src/assets/img/Wedding4.jpeg" alt="Example item">
      <div class="border border-dark">Item 4</div>
      <p class="border border-dark"> Item 4 description </p>
    </div>

    <div class="col-4 border">
      <img class="border border-primary" src="src/assets/img/Wedding5.jpeg" alt="Example item">
      <div class="border border-dark">Item 5</div>
      <p class="border border-dark"> Item 5 description </p>
    </div>

    <div class="col-4 border">
      <img class="border border-primary" src="src/assets/img/Wedding6.jpeg" alt="Example item">
      <div class="border border-dark">Item 6</div>
      <p class="border border-dark"> Item 6 description </p>
    </div>

  </div>

  <div class="row">
    <div class="col-4 border">
      <img class="border border-primary" src="src/assets/img/Wedding7.jpeg" alt="Example item">
      <div class="border border-dark">Item 7</div>
      <p class="border border-dark"> Item 7 description </p>
    </div>

    <div class="col-4 border">
      <img class="border border-primary" src="src/assets/img/Wedding8.jpeg" alt="Example item">
      <div class="border border-dark">Item 8</div>
      <p class="border border-dark"> Item 8 description </p>
    </div>

    <div class="col-4 border">
      <img class="border border-primary" src="src/assets/img/Wedding9.jpeg" alt="Example item">
      <div class="border border-dark">Item 9</div>
      <p class="border border-dark"> Item 9 description </p>
    </div>

  </div>

</div>

<div>

  <div id="bottom-div">
    <h1> See anything you like? </h1>
  </div>

</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
